* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
header {
  text-align: center;
  width: 50%;
  margin: 3% auto;
}
.heading {
  font-size: 16px;
  color: #4949e0;
  margin-bottom: 10px;
  font-weight: 700;
}
.heading-main {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}
.head-description {
  font-size: 16px;
  color: #616161;
  line-height: 1.5;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 5%;
  align-items: stretch;
}

.plan-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid #cecece;
  padding: 0 5%;
}
.plan-card:last-child {
  border-right: none;
}
.plan-type {
  font-weight: 700;
  margin-bottom: 10px;
}
.pricing {
  display: flex;
  gap: 3px;
  align-items: center;
}
.price {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.month {
  font-size: 12px;
  color: #717171;
  font-weight: 700;
}
.annually {
  font-size: 14px;
  color: #717171;
  margin-bottom: 30px;
}
button {
  border: none;
  width: 110%;
  padding: 10px 0;
  background-color: #4949e0;
  border-radius: 5px;
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
}
.info {
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
}
ul {
  list-style: none;
}

li {
  font-size: 13px;
  margin-top: 10px;
  color: #717171;
  display: flex;
  align-items: center;
  font-weight: 600;
}
li::before {
  padding-right: 10px;
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 24 24" fill="%234949e0" class="size-6"%3E%3Cpath fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" /%3E%3C/svg%3E');
}
