* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100%;
}
section {
  display: flex;
  height: 100vh;
}
.image {
  width: 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.calltosection {
  width: 65%;
  display: flex;
  flex-direction: column;
}
aside {
  width: 50%;
  height: 100%;
  background-color: #101927;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tag-line {
  color: #7080df;
  font-weight: 600;
  margin-bottom: 15px;
}
h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
.description p {
  color: #a0a8b3;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
button {
  background-color: transparent;
  color: white;
  border: none;
  background-color: #28303c;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
